<html>
<head>
  <title>Individual Polar Bear Tracking</title>
</head>
<body>
 
    <h1>Polar Bear Tagged for Tracking</h1>
    <p>Country: 
        <b>{{country[0]["Country"]}}</b> | 
        {{country[0]["TotalPop"]}} | 
        {{country[0]['PopDens']}}	| 
        {{country[0]["GDP_Cap"]}} |
         {{country[0]["GDP_Growth"]}} |
        {{country[0]['LAND']}}	
     </p>
     <p>Sightings via Radio Device</p>
    {% for row in rows %}
    <p>Bear: 
       <b>{{row["deployment_id"]}}</b> | 
       {{row["deployID"]}} | 
        {{ row["received"]}} | 
       {{row['latitude']}}	| 
       {{row["longitude"]}} |
        {{ row["temperature"]}} 	
    </p>
    {% endfor %}
</body>
</html>

